.main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.content-cat {
    position: relative;
    max-width: 600px;
    margin: 1rem;
}

.counter {
    position: absolute;
    font-size: 6rem;
    color: red;
    top: calc(50% - 4rem);
    left: 50%;
}

.cat-name {
    font-size: 2rem;
}

.img-cat {
    width: 100%;
    height: auto;
}

#list-cats {
    list-style: none;
}

#list-cats button {
    width: 8rem;
    height: 1.8rem;
    margin: 1rem 0;
}

#btn-admin {
    width: 8rem;
    height: 1.6rem;
    margin: 4rem 0 0 0;
}

.btn-admin {
    background: yellowgreen;
    font-weight: 700;
}

.form {
    display: table;
}

#form-admin {
    max-width: 300px;
    border: 1px solid black;
    padding: 1rem;
    text-align: left;
}

input[type=number] {
    width: 3rem;
}

.form-element {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 1rem;
}
