.main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.cat-content {
    position: relative;
    max-width: 600px;
    margin: 1rem;
}

.counter {
    position: absolute;
    font-size: 6rem;
    color: red;
    top: calc(50% - 4rem);
    left: 50%;
}

.cat-name {
    font-size: 2rem;
}

.img-cat {
    width: 100%;
    height: auto;
}
